<div class="w-full">
  <!-- MAIN -->
  <app-beach-view></app-beach-view>
  <app-deep-view></app-deep-view>
  <!-- SEA -->
  <!-- THANK YOU  -->
  <div class="h-screen bg-gradient-to-b from-blue-900 to-black"></div>
  <div class="h-screen bg-black">
    <h1 class="text-white text-4xl justify-center text-center pt-52">
      Thank you for your visit!
    </h1>
    <a href="https://www.fifinest.com/" id="fifinest">
      <img
        src="assets/duck.svg"
        alt="duck"
        width="64"
        height="64"
        class="mx-auto bg-red-400 rounded-full p-2 hover:shadow-lg transition duration-500 ease-in-out cursor-pointer hover:scale-110 mt-3 z-20 relative"
      />
    </a>
  </div>
</div>
