<div class="h-screen bg-[#0095be]"></div>
<div class="h-screen bg-gradient-to-b from-[#0095be] to-blue-900">
  <form
    *ngIf="!formSubmitted; else submitted"
    [formGroup]="form"
    (ngSubmit)="onMessageSubmit($event, form.value)"
    class="m-auto w-10/12 lg:w-6/12 h-full pt-52 transition z-50 relative"
    id="form"
  >
    <input
      type="text"
      id="content"
      class="rounded-full text-white border border-blue-800 bg-blue-950/60 p-5 m-2 w-full shadow-lg focus:outline-none focus:shadow-blue-600 focus:bg-blue-950 transition duration-500 ease-in-out z-20 relative"
      name="content"
      formControlName="content"
      ngModel
      maxlength="50"
      placeholder="Call to the deep..."
    />
    <div
      class="mx-auto bg-blue-800/80 text-white rounded-full w-8/12 lg:w-3/12 hover:shadow-lg transition duration-500 ease-in-out cursor-pointer hover:scale-110 mt-3"
    >
      <button
        type="submit"
        class="w-full flex justify-center rounded-full h-full p-3 z-20 relative"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5"
          />
        </svg>
      </button>
    </div>
  </form>

  <ng-template #submitted>
    <div
      class="m-auto w-10/12 lg:w-6/12 h-full pt-52 transition z-50 relative"
      id="form"
    >
      <!-- Added 'relative' class -->
      <h1 class="text-5xl text-center text-green-400">
        You've sent a message!
      </h1>
      <h3 class="text-3xl text-center mt-5 text-gray-400">
        It will be delivered to the deep in a few seconds...
      </h3>
    </div>
  </ng-template>

  <div
    *ngFor="
      let message of messageService.messages$ | async;
      trackBy: trackByFn"
    class="bubble rounded-full p-5 m-2 bg-blue-200 z-0 relative border border-slate-500 shadow-md"
    [style.animation-duration]="message.delay + 's'"
    [style.left.%]="message.position"
  >
    <div class="message-body">
      {{ message.content }}
    </div>
  </div>
</div>
